/*
@Program : Pi Dashboard Go (https://github.com/plutobell/pi-dashboard-go)
@Description: Golang implementation of pi-dashboard
@Author: github.com/plutobell
@Creation: 2020-08-01
@Last modification: 2023-04-05
@Version: 1.7.0
*/

::-webkit-scrollbar {
    width: 6.5px;
    height: 6.5px;
}
::-webkit-scrollbar-track {
    border-radius: 3.5px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background: rgba(0,0,0,0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

.label {color: var(--label-color); font-size: 75%; font-weight: bolder;}

body{
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
    margin-top: 70px;
}


.navbar, .dropdown-menu, .modal-content,
.tooltip-arrow, .tooltip-inner, .tooltip, .arrow::before {
    filter: alpha(opacity=90) !important;
    opacity: 0.9 !important;
    border: 0 !important;
    box-shadow: 0 !important;
}
.navbar-toggler {
    color: #616161 !important;
    border-color: var(--navbar-color) !important;
    padding: 0 10px 0 10px !important;
    border-radius: var(--box-radius) !important;
}
.dropdown-menu {
    border-radius: var(--box-radius) !important;
    background-color: var(--navbar-color) !important;
}
.dropdown-item:active {
    border-radius: var(--box-radius) !important;
    background-color:#616161 !important;
}
.dropdown-item:hover {
    border-radius: var(--box-radius) !important;
}

.tooltip-inner {
    border-radius: var(--box-radius);
    padding: 5px 10px 5px 10px;
    background-color: var(--navbar-color) !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--navbar-color);
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var(--navbar-color);
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: var(--navbar-color);
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: var(--navbar-color);
}
@media only screen
and (max-device-width : 768px) {
    .tooltip {
        display: none !important;
    }
}

.modal-header, .modal-body, .modal-footer {
    border: 0 !important;
}
.modal-backdrop {
    background-color: var(--backdrop-color) !important;
}
.modal-open {
    overflow-y: hidden !important;
}

.btn-dark,
.btn-dark:hover,
.btn-dark:active,
.btn-dark:visited,
.btn-dark:focus {
    border-radius: var(--box-radius) !important;

    background-color: var(--navbar-color) !important;
    border-color: var(--navbar-color) !important;

    outline: none !important;
    box-shadow: none !important;
    border: 1px solid var(--navbar-color) !important;

    filter: alpha(opacity=90) !important;
    opacity: 0.9 !important;
    border: 0 !important;
    box-shadow: 0 !important;
}
.btn-close:focus {
    outline: none !important;
    box-shadow: none !important;
}
.inverted {
    filter: invert(100%);
}


@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background: #3f3f3f;
        -webkit-box-shadow: inset 0 0 5px #3f3f3f;
    }
    ::-webkit-scrollbar-thumb {
        background: #7c7c7c;
        -webkit-box-shadow: inset 0 0 10px #7c7c7c;
    }

    body{
        background-color: #2d2d2d;
        color: #c9d1d9;
    }
    input {
        background-color: #3b3b3b !important;
        border-color: #3b3b3b !important;
        color: #c9d1d9 !important;
    }
    input:focus {
        border: 1px solid #6b6b6b !important;
    }

    :root {
        --label-color: #959c9c;
        --navbar-color: #474747;
        --cache-color: #414141;
        --cpu-memory-title-color: #5e5e5e;
        --temperature-color: #4b4b4b;
        --ip-color: #414141;
        --time-color: #5e5e5e;
        --uptime-color: #4b4b4b;
        --cpu-color: #414141;
        --memory-color: #414141;
        --real-memory-color: #414141;
        --swap-color: #414141;
        --disk-color: #5e5e5e;
        --box-bg-color: #373938;
        --backdrop-color: #363636;

        --guage-font-color: #b9bebe;
        --guage-stops-color-1: #626464;
        --guage-stops-color-5: #878b8b;
        --guage-stops-color-9: #b6b6b6;

        --net-in-color: #414141;
        --net-out-color: #5e5e5e;
        --net-grid-line-color: #3d3d3d;
        --net-line-color: #575757;

        --box-radius: 15px;
    }

    .modal-content {
        background-color: #252525;
        color: #c9d1d9;
    }
    .dark-bg {
        background-color: #505050 !important;
    }
    .spinner > div {
        background-color: #c9d1d9;
    }
    .navbar-toggler {
        color: #505050 !important;
    }

    #login-tips {
        color: #c9d1d9;
    }
    #pimodel {
        color: #c9d1d9;
    }
    #command-btns li img:hover{
        border: 1px solid #606060 !important;
    }
}