<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#555555" />
    <link id="icon" rel="icon" href="favicons/{{.favicon}}" type="image/x-icon" />
    <link id="shortcut-icon" rel="shortcut icon" href="favicons/{{.favicon}}" type="image/x-icon" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/login.css" rel="stylesheet" />
    <link href="css/common.css" rel="stylesheet" />
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <nav style="background-color: var(--navbar-color);" class="navbar navbar-expand-md navbar-dark py-1 fixed-top">
            <div class="container">
                <a class="navbar-brand" href="javascript:void(0);">
                    <img src="btns/logo.png" alt="Brand" width="22" height="22" class="d-inline-block align-text-top">
                    {{.site_title}}
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                About
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                <li><a target="_blank" class="dropdown-item" href="https://ojoll.com/archives/86/">Pi Dashboard Go</a></li>
                                <li><a target="_blank" class="dropdown-item" href="https://github.com/plutobell/pi-dashboard-go">GitHub Source</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <div id="login-box">
                    <div style="text-align: center; width: 100%; margin-bottom: 30px;"><img id="device-photo" alt="Device" src="devices/{{.device_photo}}" /></div>
                    <form>
                        <div class="mb-2">
                            <input style="text-align: center;" type="text" class="form-control box-radius" id="username" name="username" placeholder="Username" required>
                        </div>
                        <div class="mb-2">
                            <input style="text-align: center;" type="password" class="form-control box-radius" id="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="mb-2">
                            <button style="width: 100%; outline: none;" type="button" id="login-btn" class="btn btn-dark box-radius">Sign in</button>
                        </div>
                    </form>
                    <div style="color: var(--navbar-color); text-align: center; margin-top: 20px;">
                        <span id="login-tips"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>

<span id="favicon" style="display: none;">{{.favicon}}</span>
<script src="js/login.js"></script>
<script src="js/common.js"></script>
<!--
@Program : Pi Dashboard Go (https://github.com/plutobell/pi-dashboard-go)
@Description: Golang implementation of pi-dashboard
@Author: github.com/plutobell
@Creation: 2020-08-01
@Last modification: 2021-08-28
@Version: 1.5.1 -->
</body>
</html>